@mixin pseudo-class-positioning() {
	background-size: 100% 100%;
	content: "";
	display: inline-block;
	left: 0;
	position: absolute;
	height: 100%;
	top: 0;
	width: 100%;
}

$rows: 3;
$cols: 3;
$border: 3px;

.tic-tac-toe {
	height: 200px;
	width: 200px;
	div {
		height: 33.3%;
		width: 100%;
	}
	span {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		display: inline-block;
		height: 100%;
		position: relative;
		width: 33%;

	}

	@for $i from 2 through $rows - 1 {
		.ttt-row#{$i} span { 
			border-top: $border solid;
			border-bottom: $border solid;
		}
	}

	.ttt-row1 .ttt-col1, .ttt-row1 .ttt-col#{$cols}, .ttt-row#{$rows} .ttt-col1, .ttt-row#{$rows} .ttt-col#{$cols} {
		border: $border solid transparent;
	}

	@for $i from 2 through $cols - 1 {
		.ttt-col#{$i} { 
			border-left: $border solid;
			border-right: $border solid;
		}
	}

	.ttt-marked-X:before {
		background-image: url('../img/X.svg');
		@include pseudo-class-positioning();
	}


	.ttt-marked-O:before {
		background-image: url('../img/O.svg');
		@include pseudo-class-positioning();
	}

	.ttt-marked:before {
		display: none;
	}

	span:not([class*="ttt-marked-"]):hover:before {
		@extend .ttt-marked-X:before;
		opacity: 0.3;
	}
}